body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(183, 0, 255);
}
h1{
    color: rgb(12, 12, 12);
}
form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #7e23235e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[id="convert-btn"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}